<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<view
			id="org.eclipse.linuxtools.lstviewer.CustomTextView"
			name="LST View"
			icon="icons/text.png"
			class="org.eclipse.linuxtools.lstviewer.CustomTextView"
			category="org.eclipse.linuxtools.profiling.ui">
		</view>
	</extension>
	
	<extension  
	    point="org.eclipse.ui.perspectiveExtensions">  
	    <perspectiveExtension  
	        targetID="org.eclipse.debug.ui.DebugPerspective">  
	        <view  
	            relative="org.eclipse.debug.ui.VariableView"  
	            visible="true"  
	            relationship="stack"  
	            id="org.eclipse.linuxtools.lstviewer.CustomTextView">  
	        </view>  
	    </perspectiveExtension>  
	    <perspectiveExtension  
	        targetID="*">
	        <view  
	            relative="org.eclipse.ui.views.ContentOutline"  
	            visible="true"  
	            relationship="stack"  
	            id="org.eclipse.linuxtools.lstviewer.CustomTextView">  
	        </view>  
	    </perspectiveExtension>  
	</extension>

</plugin>
